.footer {
   .container {
   }
   &__info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-top: 1px solid rgba(129, 141, 164, 0.3);
      border-bottom: 1px solid rgba(129, 141, 164, 0.3);
      &-inner:first-child {
         padding: 64px 75px 64px 0px;
         .logo {
            display: flex;
            align-items: center;
            gap: 10px;
            font: 700 20px/24px Roboto;
            margin-bottom: 32px;
         }
         p {
            font: 400 16px/28px Inter;
            color: #818da4;
         }
      }
      &-inner:last-child {
         display: flex;
         justify-content: space-between;
         gap: 30px;
         padding: 64px 0 64px 40px;
         .list {
            &:last-child {
               ul {
                  display: flex;
                  flex-direction: row;
                  gap: 13px;
               }
            }
            &__title {
               font: 400 17px/20px Roboto;
               color: #818da4;
               margin-bottom: 24px;
            }
            ul {
               display: flex;
               flex-direction: column;
               gap: 16px;
               font: 400 15px/18px Roboto;
            }
         }
      }
      .footer__info-inner + .footer__info-inner {
         border-left: 1px solid rgba(129, 141, 164, 0.3);
      }
   }
   &__copyright {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      font: 400 16px/24px Roboto;
      color: #818da4;
      padding: 32px 0;
      &-text {
         display: flex;
         flex-direction: column;
         justify-content: flex-end;
      }
      &-contact {
         display: flex;
         flex-direction: column;
         gap: 8px;
         align-items: flex-end;
      }
   }
}
