.main {
   .search {
      width: 100vw;
      height: 100vh;
      background-image: url("../img/main_bg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      .container {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         gap: 32px;
         height: 100vh;
         h2 {
            font: 900 72px/88px Roboto;
            color: #ffffff;
            text-align: center;
         }
         .input__search {
            position: relative;
            width: 100%;
            input {
               text-align: center;
               font: 400 18px/21px Roboto;
               width: 100%;
               border: none;
               border-radius: 12px;
               -webkit-border-radius: 12px;
               -moz-border-radius: 12px;
               -ms-border-radius: 12px;
               -o-border-radius: 12px;
               padding: 20px 140px;
            }
            button {
               position: absolute;
               right: 8px;
               top: 50%;
               transform: translateY(-50%);
               -webkit-transform: translateY(-50%);
               -moz-transform: translateY(-50%);
               -ms-transform: translateY(-50%);
               -o-transform: translateY(-50%);
               text-transform: uppercase;
               color: #ffffff;
               background: #d1ac75;
               border: 0px;
               border-radius: 8px;
               -webkit-border-radius: 8px;
               -moz-border-radius: 8px;
               -ms-border-radius: 8px;
               -o-border-radius: 8px;
               padding: 16px 33px;
            }
         }
         .categories {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 24px 16px;
            max-width: 700px;
            button {
               display: flex;
               align-items: center;
               gap: 10px;
               font: 400 18px/21px Roboto;
               color: #ffffff;
               background: rgba(255, 255, 255, 0.2);
               border: none;
               border-radius: 12px;
               -webkit-border-radius: 12px;
               -moz-border-radius: 12px;
               -ms-border-radius: 12px;
               -o-border-radius: 12px;
               padding: 13px 24px;
            }
         }
      }
   }
   .interesting__places {
      padding: 96px 0;
      .container {
         h4 {
            font: 500 36px/55px Roboto;
            color: #000000;
            margin-bottom: 32px;
         }
         .items {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, auto));
            gap: 24px;
            margin-bottom: 72px;
            .item {
               position: relative;
               background: #ffffff;
               border-radius: 16px;
               overflow: hidden;
               -webkit-border-radius: 16px;
               -moz-border-radius: 16px;
               -ms-border-radius: 16px;
               -o-border-radius: 16px;
               .image {
                  max-height: 232px;
                  width: 100%;
                  object-fit: cover;
               }
               &__info {
                  position: relative;
                  padding: 24px;
                  h6 {
                     font: 500 18px/24px Roboto;
                     margin-bottom: 8px;
                  }
                  p {
                     display: flex;
                     align-items: center;
                     gap: 5px;
                     color: #9ea6b6;
                  }
                  .add__favorites {
                     position: absolute;
                     top: 24px;
                     right: 24px;
                     cursor: pointer;
                  }
               }
               .dopinfo {
                  position: absolute;
                  top: 23px;
                  left: 23px;
                  height: 32px;
                  text-align: center;
                  font: 500 18px/24px Roboto;
                  color: #ffffff;
                  border-radius: 8px;
                  -webkit-border-radius: 8px;
                  -moz-border-radius: 8px;
                  -ms-border-radius: 8px;
                  -o-border-radius: 8px;
                  padding: 4px 9px;
                  &.color-1 {
                     width: 55px;
                     background: #ff7844;
                  }
                  &.color-2 {
                     width: 75px;
                     background: #40b3e0;
                  }
                  &.color-3 {
                     width: 55px;
                     background: #22c56d;
                  }
               }
            }
         }
         .show__more {
            display: block;
            height: 56px;
            width: 100%;
            font: 700 16px/16px Roboto;
            color: #ffffff;
            background: #005399;
            border: none;
            border-radius: 16px;
            -webkit-border-radius: 16px;
            -moz-border-radius: 16px;
            -ms-border-radius: 16px;
            -o-border-radius: 16px;
         }
      }
   }
   .virtual__tour {
      position: relative;
      overflow: hidden;
      background: #001420;
      padding: 96px 0;
      * {
         position: relative;
         z-index: 10;
      }
      &::before {
         content: "";
         position: absolute;
         right: -10%;
         bottom: -80%;
         z-index: 1;
         width: 620px;
         height: 620px;
         background: #005399;
         filter: blur(200px);
         -webkit-filter: blur(200px);
      }
      .container {
         h4 {
            font: 500 36px/55px Roboto;
            color: #ffffff;
            margin-bottom: 32px;
         }
         .description {
            font: 400 18px/28px Roboto;
            color: #818da4;
            margin-bottom: 54px;
         }

         .card {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
            gap: 66px;
            cursor: pointer;
            /* весь контейнер поддерживает перспективу */
            .flip-container {
               perspective: 1000;

               &:nth-child(1) {
                  .front {
                     background: #22c56d;
                  }
               }
               &:nth-child(2) {
                  .front {
                     background: #3367f7;
                  }
               }
               &:nth-child(3) {
                  .front {
                     background: #ff7844;
                  }
               }
               &:nth-child(4) {
                  .front {
                     background: #7b61ff;
                  }
               }
            }
            /* переверните сторону при проведении мышью */
            .flip-container.active .flipper {
               transform: rotateY(180deg);
               -webkit-transform: rotateY(180deg);
               -moz-transform: rotateY(180deg);
               -ms-transform: rotateY(180deg);
               -o-transform: rotateY(180deg);
            }
            .flip-container,
            .front,
            .back {
               // width: 280px;
               width: 100%;
               height: 395px;
               border-radius: 24px;
               -webkit-border-radius: 24px;
               -moz-border-radius: 24px;
               -ms-border-radius: 24px;
               -o-border-radius: 24px;
            }
            /* здесь находится скорость перевертывания */
            .flipper {
               position: relative;
               transform-style: preserve-3d;
               transition: 0.6s;
               -webkit-transition: 0.6s;
               -moz-transition: 0.6s;
               -ms-transition: 0.6s;
               -o-transition: 0.6s;
            }
            /* скройте обратную сторону во время переворота */
            .front,
            .back {
               backface-visibility: hidden;
               position: absolute;
               top: 0;
               left: 0;
               color: #ffffff;
               border: 1px solid #d2d2d2;
            }
            /* лицевая сторона размещена над обратной */
            .front {
               z-index: 2;
               display: flex;
               align-items: center;
               flex-direction: column;
               justify-content: space-between;
               padding: 25px;
               .number-top {
                  font: 400 48px/58px Inter;
                  margin-right: auto;
               }
               .number-center {
                  font: 400 96px/116px Inter;
               }
               .number-bottom {
                  font: 400 48px/58px Inter;
                  margin-left: auto;
               }
            }
            /* обратная, изначально скрытая сторона */
            .back {
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;
               gap: 40px;
               transform: rotateY(180deg);
               padding: 50px;
               background-color: lightblue;
            }
         }
      }
   }
   .visited__regions {
      padding: 96px 0;
      .container {
         h4 {
            font: 500 36px/55px Roboto;
            color: #000000;
            margin-bottom: 32px;
         }
         .items {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, auto));
            gap: 24px;
            .item {
               background: #ffffff;
               border-radius: 16px;
               overflow: hidden;
               -webkit-border-radius: 16px;
               -moz-border-radius: 16px;
               -ms-border-radius: 16px;
               -o-border-radius: 16px;
               .image {
                  max-height: 232px;
                  width: 100%;
                  object-fit: cover;
               }
               &__info {
                  padding: 24px;
                  h6 {
                     font: 500 18px/24px Roboto;
                     margin-bottom: 8px;
                  }
               }
            }
         }
      }
   }
   .choose__tour {
      background: #ff7844;
      padding: 96px 0;
      overflow: hidden;
      .container {
         h4 {
            font: 500 36px/55px Roboto;
            color: #000000;
            margin-bottom: 32px;
         }
      }

      .slider {
         position: relative;
         left: 0px;
         width: 100vw;
         height: 445px;
         overflow: hidden;
         &::-webkit-scrollbar {
            width: 0;
         }
         .slider-inner {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: calc(312px * 7 + 24px * 8);
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 24px;
            pointer-events: none;
            padding: 0 24px;
            .slide {
               display: flex;
               justify-content: center;
               flex-direction: column;
               align-items: center;
               gap: 40px;
               width: 312px;
               height: 445px;
               left: 931px;
               top: 200px;
               background: #001420;
               box-shadow: 0px 8px 10px rgba(156, 164, 169, 0.2);
               border-radius: 24px;
               -moz-border-radius: 24px;
               -ms-border-radius: 24px;
               -o-border-radius: 24px;
               -webkit-border-radius: 24px;
               padding-top: 100px;
               .icon {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 150px;
                  height: 150px;
                  background: radial-gradient(
                     100% 100% at 0% 0%,
                     rgba(250, 250, 250, 0.2) 0%,
                     rgba(247, 247, 247, 0) 100%
                  );
                  backdrop-filter: blur(24px);
                  border-radius: 38px;
               }
               p {
                  text-align: center;
                  font: 700 28px/43px Roboto;
                  color: #ffffff;
               }
            }
         }
      }
   }
   .subscription {
      padding: 67px 0px 197px;
      .container {
         .block {
            position: relative;
            overflow: hidden;
            display: grid;
            grid-template-columns: 1fr 320px;
            align-items: center;
            color: #ffffff;
            background: #d1ac75;
            border-radius: 16px;
            -webkit-border-radius: 16px;
            -moz-border-radius: 16px;
            -ms-border-radius: 16px;
            -o-border-radius: 16px;
            padding: 22px 50px;
            * {
               position: relative;
               z-index: 2;
            }
            &::before {
               content: "";
               position: absolute;
               right: 0%;
               bottom: -50%;
               z-index: 1;
               width: 380px;
               height: 380px;
               background-color: #ffffff;
               outline: 50px solid rgba(239, 227, 199, 0.56);
               border-radius: 50%;
               -webkit-border-radius: 50%;
               -moz-border-radius: 50%;
               -ms-border-radius: 50%;
               -o-border-radius: 50%;
            }
            &__info {
               h5 {
                  max-width: 490px;
                  font: 700 32px/38px Roboto;
                  margin-bottom: 16px;
               }
               p {
                  max-width: 490px;
                  font: 700 20px/28px Roboto;
                  margin-bottom: 24px;
               }
               button {
                  width: 228px;
                  height: 48px;
                  font-weight: 700;
                  color: #d1ac75;
                  background: #ffffff;
                  border: none;
                  border-radius: 16px;
                  -webkit-border-radius: 16px;
                  -moz-border-radius: 16px;
                  -ms-border-radius: 16px;
                  -o-border-radius: 16px;
               }
            }
            img {
            }
         }
      }
   }
}
