@import "_reset";

*,
*::before,
*::after {
   box-sizing: border-box;
}
// font-family: 'Inter', sans-serif;
// font-family: 'Roboto', sans-serif;
html,
body {
   height: 100%;
}
body {
   position: relative;
   font-family: "Roboto", sans-serif;
   color: #0f0e0e;
   background: #eff1f4;
}
.container {
   max-width: 1320px;
   padding: 0 15px;
   margin: 0 auto;
}
.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
}
.main {
   flex: 1 1 auto;
}

@import "_header";
@import "_main";
@import "_footer";
